body {
	padding-bottom: 50px;
	min-height: 1000px;
}

.header {
	text-align: center;
}

.fancy {
	font-family: Cursive, Comic Sans MS, sans-serif;
}

.headerNav {
	text-align: center;
	list-style-type: none;
}

.headerNav li {
	display: inline-block;
	padding: 15px;
	font-size: 20px;
}

.alliPic {
	border-radius: 50px;
}

